if SHIELD_FORM_Al_LEFT

config ZMK_KEYBOARD_NAME
    default "FORM_Al"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FORM_Al_LEFT || SHIELD_FORM_Al_RIGHT

config ZMK_SPLIT
    default y

endif